<h1>
    <mat-icon>person_add</mat-icon>
    Inscription
</h1>
<form (ngSubmit)="onSubmit()">
    <mat-form-field class="example-full-width">
        <mat-label>Votre adresse mail</mat-label>
        <input matInput 
        
        placeholder="exemple@gmail.com" name="email" [(ngModel)]="email">
    </mat-form-field>
    <p class="text-danger" *ngIf="errors.email">
        Veuillez entrer une adresse mail valide
    </p>

    <mat-form-field class="example-full-width">
        <mat-label>Votre mot de passe</mat-label>
        <input matInput type="password" placeholder="Entrez votre mot de passe" name="pass" [(ngModel)]="pass">
    </mat-form-field>
    <p class="text-danger" *ngIf="errors.pass">
        Le mot de passe doit contenir au moins huit caractères (des lettres majuscules et minuscules, 
        des chiffres et des caractères spéciaux)
    </p>

    <button mat-raised-button color="primary" type="submit">S'inscrire</button>
</form>
<p>password: {{ pass}}</p>
<p>{{ errors | json }}</p>
